<h4><a id="create_link" href="#">Create New Activity</a></h4>

<div class="activityForm">
<%= form_for @activity do |f| %>
  <%= f.label "Title (required)" %><br>
  <%= f.text_field :title %> <br>
  <%= f.label "Description (required)" %><br>
  <%= f.text_area :description %><br>
  <%= f.label :goal %><br>
  <%= f.text_field :goal %><br>
  <%= f.label :rules %><br>
  <%= f.text_area :rules %><br>
  <%= f.label "Time (required)" %><br>
  <%= f.number_field :time %><br>
  <%= f.label "Category (required)" %><br>
  <%= f.collection_select :category_id, Category.all, :id, :name %><br>
  <%= f.fields_for :topics do |field|%>
    <%= field.label "Topic" %><br>
    <%= field.text_field :name %><br>
  <%end%>
  <br>
  <%= submit_tag "Create Activity" %>
<%end%>
</div>


<h3 class="username_activities" data-id="<%=@user.id%>"> <%=@user.username%>'s Activities</h3>
<ul id="activity_list">

</ul>

<div class="showActivity">
  <p> Please pick an activity to find out more information about it</p>
</div>
  <br><br>


  <%if current_user == @activity.user %>
  <%= link_to "Edit Activity", edit_activity_path %>
  <%= link_to "Delete Activity", activity_path(@activity), method: :delete %>
  <%end%>
</div>
