<h4><a id="create_link" href="/users/<%=@user.id%>/activities/new">Create New Activity</a></h4>


<h2 class="username" data-id="<%=@user.id%>"> <%=@user.username%>'s Activities:</h2>
<% @activities.each do |act| %>
<a class='link' data-id="<%=act.id%>" href="/users/<%=@user.id%>/activities/<%=act.id%>"><%=act.title%></a><br>
  <%end%>


<%if current_user == @activity.user %>
<%= link_to "Edit Activity", edit_activity_path %>
<%= link_to "Delete Activity", activity_path(@activity), method: :delete %>
<%end%>
</div>
