<% if @activity.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
    <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<%= form_for activity do |f| %>
  <%= f.label "Title (required)" %><br>
  <%= f.text_field :title %> <br>
  <%= f.label "Description (required)" %><br>
  <%= f.text_area :description %><br>
  <%= f.label :goal %><br>
  <%= f.text_field :goal %><br>
  <%= f.label :rules %><br>
  <%= f.text_area :rules %><br>
  <%= f.label "Time (required)" %><br>
  <%= f.number_field :time %><br>
  <%= f.label "Category (required)" %><br>
  <%= f.collection_select :category_id, Category.all, :id, :name %><br>
  <%= f.fields_for :topics do |field|%>
    <%= field.label "Topic" %><br>
    <%= field.text_field :name %><br>
  <%end%>
  <br>
  <%= submit_tag "Submit"%>
<%end%>
