<h1> <%=@activity.title%> </h1>
<h4>Description</h4>
<%=@activity.description%>
<h4>Goal</h4>
<%=@activity.goal%>
<h4>Rules</h4>
<%=@activity.rules%>
<h4>Time Needed</h4>
<%=@activity.time%> minutes
<h4>Category</h4>
<%=@activity.category.name%>
<h4>Topics</h4>
<%@activity.topics.each do |top|%>
  <%=top.name%>
<%end%>
<br><br>


<%if current_user == @activity.user %>
  <%= link_to "Edit Activity", edit_category_activity_path %>
  <%= link_to "Delete Activity", category_activity_path(@activity), method: :delete %>
<%end%>
