<h1 class="title"> <%=@activity.title%> </h1>

<a href="#" class="js-next" data-id='<%=@activity.id%>'>Next...</a>
<input class="nextId" type="hidden" data-id="<%=@nextId%>"></input>

<h4>Description: </h4>
<p class="description"><%=@activity.description%></p>
<h4>Goal: </h4>
<p class="goal"><%=@activity.goal%></p>
<h4>Rules: </h4>
<p class="rules"><%=@activity.rules%></p>
<h4>Time Needed:</h4>
<p class="time"><%=@activity.time%> minutes</p>
<h4>Category:</h4>
<p class="category"><%=@activity.category.name%></p>
<h4>Topics:</h4>
<p class="topics"></p>
<div class="topic-div">
<%@activity.topics.each do |top|%>
  <%=top.name%>
<%end%>
</div>
<br><br>

<%if current_user == @activity.user %>
  <%= link_to "Edit Activity", edit_activity_path %>
  <%= link_to "Delete Activity", activity_path(@activity), method: :delete %>
<%end%>
