<!DOCTYPE html>
<html>
  <head>
    <title>TeamBuildingRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= link_to 'Activities', activities_path %>
      <%= link_to 'Categories', categories_path %>
      <%= link_to 'Topics', topics_path %>
      <%= link_to "#{current_user.username}", user_path(current_user) %>
      <%= link_to 'Sign Out', sign_out_path %>
    <%end%>
    <br><br>
    <%= flash[:message] %>
    <%= yield %>
  </body>
</html>
